#set( $equals_p = '.equals(p_element)')
#set( $t = '[T]')
#set( $instanceOf = ".asInstanceOf[Object]")
package scala.implementation


class $innerSetClassName$t(#foreach($element in $elements)protected val $element: T#if( $foreach.hasNext ), #end#end) extends AbstractInnerSet[T]
{

    def this(p_innerSet: $innerSetClassName$t) = this(#foreach($element in $elements)p_innerSet.$element #if($foreach.hasNext), #end#end)
    override def addElement(p_element: T): InnerSet[T] =
    {
        if (#foreach($element in $elements)$element$equals_p#if( $foreach.hasNext ) || #end#end)
        {
            this
        }
        else #if($innerSetOffset == $lastInnerSet)new InnerHashSet(this)#else new $nextInnerSet(#foreach($element in $elements)$element#if( $foreach.hasNext ), #end#end, p_element)#end

    }

    override def addUnchecked(p_element: T): InnerSet[T] = #if($innerSetOffset == $lastInnerSet)new InnerHashSet(this)#else new $nextInnerSet(#foreach($element in $elements)$element#if( $foreach.hasNext ), #end#end, p_element)#end


    override def addAllElements(p_innerSet: InnerSet[T]): InnerSet[T] = #if($innerSetOffset  == 1) p_innerSet.addElement(element1)#else p_innerSet#foreach($element in $elements).addElement($element)#end#end


    override def containsElement(p_element: Object): Boolean = #foreach($element in $elements)$element$equals_p#if( $foreach.hasNext ) || #end#end


    override def containsAllElements(p_innerSet: InnerSet[T]): Boolean = #foreach($element in $elements) p_innerSet.containsElement($element$instanceOf)#if( $foreach.hasNext) &&#end#end


    override def getElement(p_index: Int): Option[T] = p_index match{
    #foreach($element in $elements)
    case $foreach.count => Some($element)
    #end
    case _ => None
    }


    override def removeElement(p_element: Object): InnerSet[T] =
    {
    #foreach($el in $elements)
        #set( $f = $foreach )
        #set($sep = "")
        if($el$equals_p)
        #end
        #if($innerSetOffset == 1) InnerSet_0[T]
        #else new $previousInnerSet(#foreach($element in $elements)#if($f.count != $foreach.count)$sep$element#set($sep = ", ")#end#end)
        #end
        #if( $f.hasNext )  else #end
        else this
    }

    override def removeAllElements(p_innerSet: InnerSet[T]): InnerSet[T] = #if($innerSetOffset  == 1) p_innerSet.removeElement(element1$instanceOf)#else p_innerSet#foreach($element in $elements).removeElement($element$instanceOf)#end#end


    override def retainAllElements(p_innerSet: InnerSet[T]): InnerSet[T] =
    {
      var i: InnerSet[T] = this
      #foreach($element in $elements)
      if(!p_innerSet.containsElement($element$instanceOf)) i = i.removeElement($element$instanceOf)
      #end
      i
    }

    override def getSize: Int = $innerSetOffset

    override def iterator: InnerSetIterator[T] = new InnerSetIterator(this)

    override def copy: InnerSet[T] = this

    override def clear(unused: Boolean): InnerSet[T] = InnerSet_0[T]

    override def toString : String = "{ " + #foreach($element in $elements)$element#if( $foreach.hasNext ) + ", " + #end#end + " }"

    override def addAndPropagate(p_element: T, p_microSet: MicroSet[T]): InnerSet[T] =
    {
        if (#foreach($element in $elements)$element$equals_p#if( $foreach.hasNext ) || #end#end)
        {
            this
        }
        else #if($innerSetOffset == $lastInnerSet)new InnerHashSet(this)#else
        {
            p_microSet.add(p_element)
            new $nextInnerSet(#foreach($element in $elements)$element#if( $foreach.hasNext ), #end#end, p_element)
        }#end
    }

    override def addAllAndPropagate(p_innerSet: InnerSet[T], p_microSet: MicroSet[T]): InnerSet[T] = p_innerSet.addAllAndPropagateReverse(this, p_microSet)

    override def addAllAndPropagateReverse(p_innerSet: InnerSet[T], p_microSet: MicroSet[T]): InnerSet[T] = #if($innerSetOffset  == 1) p_innerSet.addAndPropagate(element1,p_microSet)#else p_innerSet#foreach($element in $elements).addAndPropagate($element,p_microSet)#end#end

}